<h3 class="widget-box--header" id="proto-plugin-block">
  <%= op_icon('icon-context icon-attachment') %>
  <span class="widget-box--header-title">Nyilvántartás</span>
</h3>

<ul class="widget-box--arrow-links">
  <li>
    <%= link_to "Nyilvántartás megtekintése", catalog_index_path %>
  </li>
  <li> <%= link_to "Járművek", vehicles_path %></li>
  <li> <%= link_to "Ügyfelek", customers_path %></li>
</ul>
