<!-- TITLE -->
<div class="toolbar-container">
	<div class="toolbar">
		<div class="title-container">
			<h2>Ügyfelek</h2>
		</div>
	</div>
</div>

<div class="generic-table--container">
	<div class="generic-table--results-container">
		<%=render'catalog/customers'%>
	</div>
</div>