<!-- TITLE -->
<div class="toolbar-container">
	<div class="toolbar">
		<div class="title-container">
			<h2>Gépjárművek & Ügyfelek</h2>
		</div>
	</div>
</div>

<!-- WIDGETS -->
<div class="widget-boxes" id="visible-grid">
	<div class="grid-block">
		<div class="left">
			<div class="widget-box">
				<%=render'catalog/vehicles'%>
			</div>
		</div>	
		<div class="right">
			<div class="widget-box">
				<%=render'catalog/customers'%>
			</div>
		</div>
	</div>
</div>
